.main-panel {
  background-color: #55555;
  overflow-x: hidden;
}

.clipboard {
list-style: none;
padding: 0;
margin: 0;
color: #666666;
}

.filter {
  height: 30px;
  width: 88%;
  font-size: 14px;
  margin-bottom: 8px;
  float: left;
}

.clear {
  height: 30px;
  width: 10%;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 8px;
}

#customizer-bar {
  width: 100%;
  height: 30px;
  background-color: #333333;
  position: fixed;
  bottom:0%;
  opacity: 1;
  margin-left: -8px;
}

ul#customizers li {
  margin-top: -5px;
  display: inline;
}

.customizer span{
  color: white;
  position: relative;
  bottom: 8px;
}

.customizer input {
  position: relative;
  bottom: 8px;
  width: 90px;
}

.clipboard li {
  white-space: pre;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

.clipboard li:nth-child(odd) {
  background-color: #dddddd;
}

.clipboard li:nth-child(even) {
  background-color: #aaaaaa;
}

.clipboard li:hover:nth-child(even) {
  opacity: .8;
}

.clipboard li:hover:nth-child(odd) {
  opacity: .8;
}
